.cSsXYw {
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(204, 204, 204);
	display: flex;
	flex-direction: column;
	padding: 0px 0px 24px;
	}
.cpQjc {
	font-size: 32px;
	line-height: 36px;
	font-weight: 300;
	margin: 28px auto 15px;
	text-align: center;
	width: 300px;
	color: rgb(51, 51, 51);
}
.vUUwY {
	margin: 12px auto 18px;
	display: flex;
	position: relative;
	flex-direction: column;
	width: 640px;
}
.dxuEQa .Button-sc-1i1p2xt-0 {
	font-weight: 400;
}
.vUUwY .SearchButton-sc-1krkte-0 {
	top: 6px;
	position: absolute;
	right: 6px;
	z-index: 9999;
}			
.vUUwY .Input-sc-1lqd5p4-0 {
	width: 100%;
}			
.hBiFYE {
	position: relative;
	height: 42px;
	font-size: 18px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px inset;
	display: flex;
	border: 1px solid rgb(204, 204, 204);
	transition: border-color 0.1s ease-in-out 0s;
	padding: 0px 28px 0px 11px;
	outline: currentcolor none 0px;
}
button, input {
	overflow: visible;
}
input, button, select, optgroup, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
*, ::before, ::after {
	box-sizing: border-box;
}
.dxuEQa {
	font-size: 14px;
	color: rgb(153, 153, 153);
}
.fsUcZx {
	background: rgba(0, 0, 0, 0) linear-gradient(rgb(1, 99, 196), rgb(1, 80, 159)) repeat scroll 0% 0%;
	border-radius: 5px;
	min-height: 31px;
	padding: 10px 0px;
	min-width: 10px;
	cursor: pointer;
	font-size: 14px;
	border: 1px solid rgb(1, 49, 97);
	width: 31px;
	height: 31px;
	position: relative;
	color: rgb(255, 255, 255);
	font-weight: 100;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
	cursor: pointer;
}
button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}
.kZFrcX {
	display: flex;
	flex-direction: row;
	-moz-box-pack: center;
	justify-content: center;
}
.cRCktH {
	display: flex;
}
.bSaVaM {
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	margin: 15px auto;
}
.jfJgzN {
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	padding: 0px 18px;
}
.bSaVaM > a {
	margin: 0px 5px;
}
.cRCktH:not(:first-of-type)::before {
	content: "·";
	padding: 0px 10px;
	text-decoration: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
.ref1 {
	width: 50%;
	height: auto;
	margin: auto;
}
.ref2 {
	width: 50%;
	height: auto;
	margin: auto;
}
.bonuses {
	width: 50%;
	margin: auto;
	z-index: 9999;
}
.cQRENn {
	width: 640px;
	margin: 20px auto 0px;
	display: flex;
	flex-direction: column;
	min-height: 100px;
}
.hUGsic {
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	color: rgb(153, 153, 153);
	margin: 16px;
}
.kROOMw {
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
	cursor: pointer;
	border-bottom: 1px solid rgb(230, 230, 230);
	transition: margin 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, background-color 0.1s ease-in-out 0s;
	width: 640px;
}
.gTcbvR {
	cursor: pointer;
	display: flex;
	position: relative;
	padding: 24px;
	height: 90px;
}
.kNuUKt {
	color: rgb(0, 85, 166);
	font-size: 22px;
	line-height: 30px;
	z-index: 999;
	display: flex;
	flex-direction: row;
	width: auto;
	max-width: 100%;
	flex: 0 1 80%;
}
.hlLHpQ {
	color: rgb(153, 153, 153);
	font-size: 14px;
	position: absolute;
	top: 54px;
	left: 24px;
	width: 486px;
	line-height: 15px;
}
.crDpTI {
	position: absolute;
	padding: 15px;
	right: 9px;
	top: 39px;
	font-size: 14px;
	line-height: 18px;
	color: rgb(153, 153, 153);
	user-select: none;
}
.fbhBLw {
	position: absolute;
	right: 24px;
	top: 28px;
	font-size: 16px;
}
.fbhBLw::before {
	content: "";
	font-family: "icomoon", sans-serif;
	color: rgb(124, 188, 50);
}
.footer-container {
	/* display: -webkit-box; */
	/* display: -webkit-flex; */
	/* display: -ms-flexbox; */
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #f7f7f7;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	border-top: 1px solid #e6e6e6;
}
.footer-container {
	margin-top: auto;
	-webkit-box-align: normal;
	-webkit-align-items: normal;
	-ms-flex-align: normal;
	align-items: normal;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}
html, body {
	color: #333;
}
.footer__map {
	max-width: 960px;
	padding-top: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}
.footer {
	font-size: 14px;
	max-width: 960px;
	width: 100%;
	padding: 40px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #999;
	margin: 0 auto;
}
.footer__map-section {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 200px;
	-ms-flex: 0 1 200px;
	flex: 0 1 200px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	margin: 0 16px;
}
.footer__map-section-title {
	color: #333;
	font-size: 14px;
	line-height: 18px;
}
.footer__menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.footer .languages-panel {
	margin-right: 10px;
}
.footer a {
	color: #999;
}
.footer__socials {
	font-size: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer__socials a {
	color: #b2b2b2;
	font-size: 16px;
	margin: 0 8px;
	text-decoration: none;
}
.footer__menu > a {
	margin-left: 24px;
}
[dir="ltr"] ul {
	padding-left: unset;
}
.footer__map-section-links {
	list-style: none;
	padding-left: 0;
}
ol, ul, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}
.footer__map-section-links li {
	margin-top: 4px;
}
.footer__map-section-links a {
	font-size: 14px;
	line-height: 18px;
	color: #999;
}